
header{
    background-color:rgb(174, 223, 234);
    min-width: 550px;
    box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.75);
}
nav a{
    color: black;
    transition: 0.30s;
}
.navbar-brand:hover, .nav-link:hover{
    text-decoration-line: underline;
    color: black;
}
footer{
    background-color: #226296;
    min-width: 550px;
    box-shadow: 0px -3px 7px -3px rgba(0,0,0,0.75);
}
.contactenos{
    color: white;
}
/*--------------INICIO CSS REDES SOCIALES-------*/
#Redes-Sociales a{
    width: 35px;
    height: 35px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    display: block;
    float: left;
    line-height: 35px;
    text-align: center;
    transition:all 0.5s;
}
#Redes-Sociales a i{
    font-size: 20px;
    color: white;
}
#Redes-Sociales a:hover{
    background-color: white;

}
#Redes-Sociales a:hover i{
    color: black;
}
/*------------FIN CSS REDES SOCIALES------- */     

.card-group{
    margin-top:20px;
    margin-bottom: 20px;
    }

.card-body{
background-color: #bdbdbd;
top: 10px;
left: 10px;
}
.card{
    box-shadow: 0px 14px 12px 0px rgba(135,133,135,1);
    margin-right: 15px;
}
.card-title{
    margin-top: 6px;
}
@media screen and (max-width: 575px){
    .card{
        min-width: 500px;
    }
    }
@media screen and (max-width: 1200px){
    .card-title{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}
}